[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-proposal-simulator"]
	path = lib/forge-proposal-simulator
	url = https://github.com/solidity-labs-io/forge-proposal-simulator
